<!-- Speak Date Modal -->
<div class="modal fade" id="speakDateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select a Date</h4>
      </div>
      <%= simple_form_for talk do |f| %>
        <%= f.label :date %>
        <%= f.date_select :speak_date %>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Submit Presentation Date", :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="col-xs-10 col-xs-offset-1">
  <h1 class="pull-left">Comments</h1>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#speakDateModal">
    Select a Date
  </button>
</div>
<div class="clear"></div>
<hr />
<!-- End Speak Date Modal -->
