<div class="container search-wrapper">
	<%= form_tag search_path, :class => 'form-wrapper', :method => 'get' do %>
    	<%= text_field_tag :search, params[:search], class: 'search-field', placeholder: 'Search ...' %>
	    <%= button_tag(type: "submit", name: nil, class: "button button-blue search-button") do %>
				<i class="fa fa-search" aria-hidden="true"></i>
			<% end %>
	<% end %>
</div>
