<div class="col-xs-10 col-xs-offset-1">
  <h1>Edit the details of the topic</h1>
  <%= simple_form_for @talk do |f| %>
    <%= f.input :topic %><br />
    <%= f.input :description %><br />
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %>
</div>
