<section id="show-card" class="container">
  <div class="card-wrapper">
    <h1>Edit the details of the topic</h1>
    <div class="form-wrapper">
      <%= simple_form_for @talk do |f| %>
        <h3 class="left"><%= f.input :topic %></h3>
        <h3 class="left"><%= f.input :description %></h3>
        <%= f.submit 'Update', class: 'button button-blue' %>
      <% end %>
    </div>
  </div>
</section>
