<section id="talks">
    <!-- Start Search Form -->
    <%= render "searchForm" %>
    <!-- End of Search Form -->
    <!-- Start Scheduled Talk Section -->
    <%= render "partials/scheduledTalks" if @scheduled_talks.count >= 1 %>
    <!-- End of Scheduled Talk Section -->
    <!-- Start of Uncheduled Talk Section -->
    <%= render "partials/unscheduledTalks" %>
    <!-- End of Uncheduled Talk Section -->
    <!-- Begin Previously Given Talks -->
    <%= render "partials/previousTalks" if @previous_talks.count >= 1 %>
    <!-- End Previously Given Talks -->
</section>
