<section id="show-card" class="container">
  <div class="card-wrapper">
    <h1>Enter the details of the topic</h1>
    <div class="form-wrapper">
      <%= simple_form_for @talk do |f| %>
        <h3 class="left"><%= f.input :topic, required: false, error: 'Topic is required' %></h3>
        <h3 class="left"><%= f.input :description, required: false, error: "A description is required" %></h3>
        <%= f.submit 'Submit', class: 'button button-blue' %>
      <% end %>
    </div>
  </div>
</section>
