<section id="roster">
  <div class="container">
    <div class="card-container">
      <div class="card-wrapper">
        <h1 class="center">
          All Talks on <%= params[:date] %>
        </h1>
        <button class = "button button-blue" id = "CopyToClipboard" data-clipboard-action="copy" data-clipboard-target="#talks">
          <i class="fa fa-clipboard" aria-hidden="true"></i> Copy to clipboard
        </button>
        <br>
        <div id = "talks">
      	  <% @talks.each do |talk| %>
      	  	<p><strong><%= talk.topic %></strong> (<%= User.find(talk.assignee_id).first_name + ' ' + User.find(talk.assignee_id).last_name %>)</p>
      	  	<p><%= raw(talk.description) %></p>
      	  	<br>
      	  <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>

<script>
new Clipboard('#CopyToClipboard');
</script>
