<div class="col-xs-10 col-xs-offset-1">
  <h1><%= @talk.topic %></h1>
  <br />
  <h3><%= @talk.description %></h3>
  <br />
  <p>Assigned to speaker? <%= @talk.is_assigned %></p>
  <%= link_to "Edit Topic Information", edit_talk_path, class: "btn btn-primary" %>
</div>
